
  <div class="owl-carousel owl-theme">

    <% posts.forEach(function(post){ %>
      
      <% if(post.kind === 'Movie'){ %>
        <a href="/postcontent/<%= post._id%>">
        <div class="item">
          <img class="box-filme" src="<%= post.coverBox %>" alt="">
        </div>
      <% } %>

      
      <div>

      </div>
    </a>
    <% }) %>