<main>
  <div>
    <div class="filme-principal">
      <div class="container">
        <h3 class="titulo">LAST KINGDOM</h3>
        <p class="descricao">A show of heroic deeds and epic battles with a thematic depth that embraces politics, 
          religion, warfare, courage, love, loyalty and our universal search for identity. Combining real 
          historical figures and events with fictional characters, it is the story of how a people combined 
          their strength under one of the most iconic kings of history in order to reclaim their land for 
          themselves and build a place they call home.


        </p>
        <div class="botoes">
          <button role="button" class="botao">
            <i class="fas fa-play"></i> 
            WATCH NOW</button>
          <button role="button" class="botao">
            <i class="fas fa-info-circle"></i>
            MORE INFO</button>
        </div>
      </div>
    </div>
  </div>
</main>
