<%- include("./mainContent/header"); -%>

<div class="container">

  <div class="row boxAddContent">
    
    <div class="col-lg-6">
      <section class="addContentImg" style="background: url(https://source.unsplash.com/collection/12168151/500x500) no-repeat center center / cover"></section>
    </div>
    <div class="col-lg-6">

      <h1>Adding Content</h1>
      
      <form action="/postcontent" method="POST">
      
        <div class="form-group">
          
          <p>Title:</p>
          <input type="text" name="postTitle" placeholder="TV Show or Movie Title">
          
          <p>Watch on: </p>
          <input type="text" name="postWatch" placeholder="HBO, Netflix, Amazon Prime, others..."> 
        
          <p>This title is:</p>
          <input type="text" name="postKind" placeholder="Movie, TV Show, others">
      
          <p>Genre:</p>
          <input type="text" name="postGender" placeholder="Action, Horror, Sci-Ficiont, others">
      
          <p>IMDB Rating:</p>
          <input type="text" name="imdbRating" placeholder="9.5">
      
          <p>Poster:</p>
          <input type="text" name="coverBox" placeholder="Https://...">
      
          <p>Main Actor:</p>
          <input type="text" name="mainActor" placeholder="Https://...">

          <p>Main Actor Photo Profile:</p>
          <input type="text" name="postActorPhoto" placeholder="Https://...">
      
      
          <p>Launch year:</p>
          <input type="text" name="launchYear" placeholder="2020">
      
          <p>Youtube Trailer:</p>
          <input type="text" name="youtubeTrailer" placeholder="Https://...">

          <p>Sinopse</p>
          <input type="text" name="postSinopse" placeholder="Insert the sinopse here...">      
      
        </div>
      
        <button class="buttonSubmitContent" type="submit">Post Content</button>
      
      </form>
    </div>


    
  </div>
</div>

<%- include("./mainContent/footer"); -%>