<%- include("./mainContent/header"); -%>

  <div class="carrosel-filmes">
    <h1 class="titleSeries">Séries</h1>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img class="box-filme" src="<%= post.coverBox %>" alt="">
      </div>
    </div>

<%- include("./mainContent/footer"); -%>